
:root {
  --font: 'Open Sans', sans-serif;
  --font-color: #504E4B;
  --primary-color: #20639B;
  --primary-lighter-color: #2c76b3;
  --white-color: #fff;
  --blank-color: #f1f1f1f1;
  --blank-blueish-color: #e6eef2;
  --test-color: #ddd;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background-color: var(--blank-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary-lighter-color);
}

body, a {
  font-family: var(--font);
  color: var(--font-color) !important;
}

body {
  background: linear-gradient(180deg, var(--blank-color) 0%, var(--blank-blueish-color) 50%);
}

img.wallpaper.header {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
}

.btn-cosmic, .btn-cosmic.filled:hover {
  border: solid 2px var(--primary-color);
  background-color: var(--white-color);
  border-radius: 12px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
  color: var(--font-color) !important;
}

.btn-cosmic:hover, .btn-cosmic.filled {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color: var(--white-color) !important;
}

.btn-cosmic.btn-sm {
  border-radius: 8px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, .2);
}

.navbar {
  padding-top: 24px;
  padding-bottom: 24px;
}

.navbar-toggler {
  position: relative;
  z-index: 1;
}

.navbar-brand {
  font-weight: 700;
  color: var(--primary-color) !important;
}

.brand-wrapper {
  display: flex;
  align-items: center;
}

.brand-wrapper img {
  width: 28px;
  margin-right: 6px;
}

.jumbotron {
  background: none;
}

.jumbotron-flex {
  display: flex;
}

.jumbotron-text {
  width: 82vh;
  display: flex;
  flex-direction: column;
}

span.highlight.white {
  background-color: rgba(255, 255, 255, .85)
}

.jumbotron-text a {
  margin-top: 56px;
}

.jumbotron-text a:last-child {
  margin-left: 10px;
}

.jumbotron-button img {
  width: 32px;
  margin-right: 8px;
}

.spaced {
  letter-spacing: 6px;
}

.spaced strong {
  color: var(--primary-color);
}

.summary-card {
  display: flex;
}

.summary-content {
  background-color: var(--white-color);
  margin: auto;
  display: flex;
  padding: 24px 36px;
  border-radius: 36px;
  box-shadow: 4px 6px 10px rgba(0, 0, 0, .2);
}

.summary-role-container {
  display: flex;
}

.summary-role {
  display: flex;
}

.summary-img, .summary-role {
  display: flex;
  align-items: center;
}

.role-icon {
  width: 64px;
}

.role-title {
  font-weight: 700;
  font-size: 18px;
  color: var(--primary-color);
}

.role-desc {
  font-weight: 600;
  font-size: 16px;
  margin-top: -6px;
}

.content-title {
  display: flex;
  margin-bottom: 56px;
  align-items: center;
  justify-content: center;
}

.content-title.wide {
  margin-bottom: 84px;
}

.content-title img {
  width: 64px;
  margin-right: 10px;
}

.content-title span {
  color: var(--primary-color);
  font-weight: 600;
}

.timeline-line {
  width: 1.6px;
  height: 1150px;
  background-color: rgba(0, 0, 0, .4);
  right: 50%;
  transform: translateX(-0.8px);
  position: absolute;
}

.timeline-wrapper {
  display: flex;
}

.outline-cosmic {
  border: solid 2px var(--primary-color);
}

.timeline-title h5 {
  font-size: 18px;
  font-weight: 600;
  color: var(--primary-color);
  margin-bottom: 2px;
}

.timeline-title hr {
  margin: 10px 0 18px;
}

.timeline-description ul {
  padding-left: 16px;
  list-style-type: circle;
}

.timeline-description li {
  margin-bottom: 4px;
}

.skill-container {
  display: flex;
}

.skill-wrapper {
  display: flex;
  margin: auto;
}

.skill-title img {
  width: 36px;
  margin-bottom: 6px;
}

.skill-title h5 {
  font-weight: 600;
  color: var(--primary-color);
}

.skill-content .col-6 {
  padding: 20px;
}

.skill-content h5 {
  font-weight: 600;
  font-size: 18px;
}

hr.certification {
  margin-bottom: 36px;
}

.certification-wrapper {
  margin-bottom: 32px;
  display: flex;
}

.certification-icon {
  margin-right: 14px;
}

.certification-icon img {
  width: 26px;
  filter: none;
}

.project-container {
  margin-bottom: 240px;
}

.project-grid {
  margin-bottom: 360px;
}

.project-wrapper {
  display: flex;
}

.project-title hr {
  margin: 12px 0;
}

.project-title h4 {
  font-weight: 600;
  color: var(--primary-color);
}

.project-title>span>a {
  text-decoration: none;
  font-weight: 600;
  color: var(--primary-color) !important;
}

.project-img img {
  border-radius: 20px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, .2);
}

.project-tags a{
  margin-right: 8px;
  font-style: italic;
}

.project-nav {
  display: flex;
}

.project-nav a {
  margin-left: auto;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  color: var(--primary-color) !important;
}

footer {
  display: flex;
  padding-bottom: 240px;
}

.link-wrapper {
  margin: auto;
}

.link-wrapper a {
  text-decoration: none;
}

.link-wrapper img {
  fill: var(--primary-color) !important;
}

.link-wrapper a:not(:first-child) {
  margin-left: 12px;
}

.link-wrapper img {
  width: 32px;
}

/* 
  =====================================================================
  =====================================================================
  === For tablets and phones ==========================================
  =====================================================================
  =====================================================================
*/
@media (max-width: 991px) {
  .nav-link {
    text-align: right;
    margin-top: 24px;
  }

  .nav-link>.highlight {
    background-color: rgba(255, 255, 255, .85);
  }

  .jumbotron-text {
    padding-top: 136px;
  }

  .jumbotron-button {
    display: flex;
    width: fit-content;
    margin: auto;
  }

  .summary-card {
    margin-bottom: 160px;
  }

  .summary-content {
    flex-direction: column;
    align-items: center;
    width: 92%;
  }

  .summary-role-container {
    width: 100%;
    justify-content: space-evenly;
  }

  .summary-role {
    flex-direction: column;
    justify-content: center;
  }

  .summary-role img {
    margin-bottom: 12px;
  }

  .summary-role:nth-child(2) {
    margin-left: 16px;
  }

  .summary-img img {
    width: 92px;
    border: solid 6px var(--primary-color);
    margin-bottom: 22px;
  }

  .content-title {
    padding: 0 24px;
  }

  .content-title.wide {
    margin-bottom: 56px;
  }

  .timeline-container {
    margin-bottom: 164px;
  }

  .timeline-title h5 {
    display: flex;
    align-items: center;
  }

  .timeline-title h5::before {
    content: "";
    width: 8px;
    height: 24px;
    background-color: var(--primary-color);
    margin-right: 8px;
  }

  .timeline-line {
    display: none;
  }

  .timeline-content {
    background-color: var(--white-color);
    padding: 38px 42px;
    border-radius: 20px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
    height: fit-content;
    width: 92%;
    margin: auto;
  }

  .timeline-content>.row {
    padding-top: 32px;
  }

  .timeline-card {
    margin-bottom: 24px;
  }

  .timeline-card.outline-cosmic {
    border: none;
  }

  .skill-container {
    margin-bottom: 164px;
  }

  .skill-wrapper {
    flex-direction: column;
    background-color: var(--white-color);
    padding: 56px 38px 0;
    border-radius: 20px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
    height: fit-content;
    width: 92%;
  }

  .skill-title>hr {
    margin-top: 6px;
  }

  .skill-title-wrapper {
    display: flex;
    align-items: center;
  }

  .skill-title-wrapper>img {
    margin-right: 8px;
  }

  .skill-card {
    margin-bottom: 36px;
  }

  .skill-card.outline-cosmic {
    border: none;
  }

  .skill-content img {
    width: 36px;
  }

  .project-grid {
    margin-bottom: 32px;
  }

  .project-wrapper {
    flex-direction: column;
    background-color: var(--white-color);
    padding: 38px 38px;
    border-radius: 20px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
    height: fit-content;
    margin: auto;
  }

  .project-content {
    margin-bottom: 24px;
  }

  .project-img img {
    max-width: 100%;
  }
}

/* 
  =====================================================================
  =====================================================================
  === For desktops ====================================================
  =====================================================================
  =====================================================================
*/
@media (min-width: 992px) {
  .nav-link {
    margin-left: 30px;
    color: var(--blank-color) !important;
  }

  .nav-link>.highlight {
    background: none !important;
  }
  
  .nav-link::after {
    content: "";
    display: block;
    margin: auto;
    width: 0;
    height: 4px;
    margin-top: 6px;
    transition: width 400ms ease;
  }
  
  .nav-link:hover {
    color: var(--white-color) !important;
  }
  
  .nav-link:hover::after {
    width: 100%;
    background-color: var(--white-color);
  }
 
  .jumbotron-text {
    padding-top: 184px;
  }

  .summary-card {
    margin-bottom: 240px;
  }

  .summary-content {
    flex-direction: row;
  }

  .summary-role-container {
    flex-direction: row;
  }

  .summary-img img {
    width: 136px;
    border: solid 8px var(--primary-color);
  }

  .summary-role {
    margin-left: 36px;
  }

  .role-detail {
    margin-left: 14px;
  }

  .timeline-container {
    margin-bottom: 240px;
  }

  .timeline-content>.row {
    padding-top: 118px;
  }

  .timeline-wrapper:nth-child(odd) .timeline-card::after {
    content: "";
    display: block;
    position: absolute;
    right: -3px;
    top: 12px;
    background-color: var(--primary-color);
    width: 10px;
    height: 38px;
  }

  .timeline-wrapper:nth-child(even) .timeline-card::after {
    content: "";
    display: block;
    position: absolute;
    left: -7px;
    top: 186px;
    background-color: var(--primary-color);
    width: 10px;
    height: 38px;
  }

  .timeline-wrapper:nth-child(odd) .timeline-card {
    margin-left: auto;
    margin-right: 24px;
    margin-top: -64px;
  }
  
  .timeline-wrapper:nth-child(even) .timeline-card{
    margin-left: 20px;
    margin-top: 110px;
  }

  .timeline-card {
    background-color: var(--white-color);
    padding: 38px 42px;
    border-radius: 20px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
    height: fit-content;
  }

  .skill-container {
    margin-bottom: 240px;
  }

  .skill-card {
    background-color: var(--white-color);
    max-width: 360px;
    height: 480px;
    border-radius: 20px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .15);
    padding: 32px 38px;
  }

  .skill-card:not(:first-child) {
    margin-left: -36px;
  }
  
  .skill-card:nth-child(2) {
    margin-top: 36px;
  }
  
  .skill-card:nth-child(3) {
    margin-top: 72px;
    background: radial-gradient(circle, var(--primary-lighter-color) 0%, var(--primary-color) 98%);
    color: var(--white-color);
  }
  
  .skill-card:nth-child(3) h5 {
    color: var(--white-color);
  }
  
  .skill-card:nth-child(3) hr {
    border-color: var(--white-color);
  }

  .skill-content .col-6 {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .skill-content .col-6>img {
    max-width: 80%;
    filter: grayscale(.9);
    transition: filter 200ms ease;
  }
  
  .skill-content img:hover {
    filter: grayscale(0);
  }

  .skill-desc {
    display: none;
  }

  .project-card {
    background-color: var(--white-color);
    width: 72%;
    border-radius: 20px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, .2);
    padding: 18px 24px;
  }

  .project-img {
    position: absolute;
    margin-top: 64px;
    z-index: -1;
  }

  .project-img img {
    max-width: 480px;
  }
}